<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/stopwatch-2/100/stopwatch-21-512.png" />
    <title>Timer | Michał Książek</title>
</head>
<body>
    <div class="container">
        <center>
            <div class="timer"></div>    
        </center>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>