<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/103/103085.png" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/error.css" />
    
    <title><%= err %></title>
</head>
<body>
    <div class="container">
        <h4><%= err %></h4>
        <p><%= date %></p>
    </div>
</body>
</html>